<!DOCTYPE html>
<html class="no-js" ng-app="encuestas">
<html lang="es" style="position: relative;min-height: 100%;">

<head>
    <meta charset="utf-8">
    <title>Encuestas</title>
    <meta name="description" content="Encuesatas de interes">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <article class="container" ng-controller="LandingCtrl as vm">
        <div ng-if="vm.haVotado==false">
            <div class="jumbotron">
                <h1>Participa en nuestra encuesta</h1>
                <p>Es anónima y te permitirá ver los datos recolectados</p>
            </div>
            <form class="form-horizontal text-left">
                <fieldset>
                    <div id="legend">
                        <legend class="">Rellena cada campo y pulsa en el bótón de envío</legend>
                    </div>
                    <div class="col-xs-12 col-sm-4" ng-repeat="pregunta in vm.preguntas">
                        <div class="control-group">
                            <label class="control-label" for="lenguaje">{{pregunta.texto}}</label>
                            <div class="controls">
                                <select class="form-control" ng-model="pregunta.respuesta" ng-options="l for l in pregunta.respuestas"></select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div style="margin: 50px 0 0 15px;">
                <button type="button" class="btn btn-lg btn-primary" ng-click="vm.enviarEncuesta()">
                    <span>Enviar encuesta y ver resultados</span>
                </button>
            </div>
        </div>
        <div ng-if="vm.haVotado==true">
            <div class="jumbotron">
                <h1>Estadísticas obtenidas</h1>
                <p>Datos actualizados a las {{vm.ultimaActualizacion | date:'medium'}}</p>
            </div>

            <div ng-repeat="pregunta in vm.preguntas">
                <div class="col-md-4">
                    <h2>{{pregunta.texto}}</h2>
                    <div ng-repeat="dato in pregunta.encuestas | orderBy:'-count'">
                        <h3>{{dato._id}}: <span class="label pull-right " ng-class="{ 'label-default': dato.count<=5,'label-primary': dato.count>5, 'label-danger': dato.count>10 }">{{dato.count}}</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <footer>
        <hr>
        <p>Código de ejemplo creado por <a href="https://twitter.com/albertobasalo">Alberto Basalo</a> de <a href="http://agorabinaria.com">Ágora Binaria</a>
        </p>
        <p>Accede a este y otros contenidos formativos en <a href="https://github.com/orgs/AcademiaBinaria/dashboard">GitHub-AcademiaBinaria</a>
        </p>
    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>

<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>

<script src="app.js"></script>
<script src="LandingCtrl.js"></script>
<script src="encuestasDataService.js"></script>
<script src="socketFactory.js"></script>

</html>