<h2>Soy la nueva</h2>
{{vm.prueba}}
<form class="form-horizontal text-left">
 <fieldset>
  <div id="legend">
   <legend class="">Rellena la encuesta</legend>
  </div>
  <div class="row-fluid">
   <div class="col-xs-12 col-sm-4">
    <div class="control-group">
     <label class="control-label" for="capital">Lenguajes conocidos:</label>
     <div class="controls">
      <input name="lc" class="input" ng-model="vm.encuesta.lenguajeBase">
     </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-4">
    <div class="control-group">
     <label class="control-label" for="tipo">Lenguajes de interés:</label>
     <div class="controls">
      <input name="li" class="" ng-model="vm.encuesta.lenguajeInteres">
     </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-4">
    <div class="control-group">
     <label class="control-label" for="anualidades">Profesión:</label>
     <div class="controls">
      <input name="profesion" class="input" ng-model="vm.encuesta.profesion">
     </div>
    </div>
   </div>
  </div>
 </fieldset>
</form>
<div class="row-fluid">
 <div class="row-fluid text-right">
  <div class="col-xs-12 col-sm-6">
   <!-- La directiva ng-click asocia el evento click sobre un elemento con una función de mi controlador -->
   <button type="button" class="btn btn-lg btn-primary" ng-click="vm.crearEncuesta()">
    <span>Enviar encuesta </span>
   </button>
  </div>
 </div>
</div>