<h2>Encuesta en tiempo real.</h2>
<div class="row-fluid">
	<form class="form-horizontal text-left">
		<fieldset>
			<div id="legend">
				<legend class="">Rellena la encuesta y observa los resultados</legend>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-4" ng-repeat="pregunta in vm.preguntas">
					<div class="control-group">
						<label class="control-label" for="lenguaje">{{pregunta.texto}}</label>
						<div class="controls">
							<select class="form-control" ng-model="pregunta.respuesta" ng-options="l for l in pregunta.respuestas"></select>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div style="margin: 50px 0 0 15px;">
	<button type="button" class="btn btn-lg btn-primary" ng-click="vm.crearEncuesta()">
		<span>Enviar encuesta y ver resultados</span>
	</button>
</div>